<!--  SECTION(system) -->
<section id="Section-system" class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Sistema 99DOGS</h1>
                <p class="text-center latestitems">Conheca um pouco mais do sistema.</p>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12 fadeInUpNow">
            <div class="boxservice">
                <i class="fa fa-globe"></i>
                <h3>Web Design</h3>
                <p>
                    Web design encompasses many different skills and disciplines in the production and maintenance of websites.
                </p>
            </div>
            <div class="boxservice">
                <i class="fa fa-user"></i>
                <h3>User Experience</h3>
                <p>
                    The different areas of web design include web graphic design; interface design; authoring; user experience design; and seo.
                </p>
            </div>
            <div class="boxservice rightb">
                <i class="fa fa-dashboard"></i>
                <h3>Client Side</h3>
                <p>
                    The term web design is normally used to describe the design process relating to the front-end (client side) design of a website 
                </p>
            </div>
            <div class="boxservice bottomb">
                <i class="fa fa-cloud-download"></i>
                <h3>Themes & Templates</h3>
                <p>
                    A web template system uses a template processor to combine web templates to form finished web pages.
                </p>
            </div>
            <div class="boxservice bottomb">
                <i class="fa fa-trophy"></i>
                <h3>Publishing Tools</h3>
                <p>
                    It is a web publishing tool present in content management systems, web application frameworks, and HTML editors.
                </p>
            </div>
            <div class="boxservice rightb bottomb">
                <i class="fa fa-microphone"></i>
                <h3>Static & Dynamic</h3>
                <p>
                    Web templates can be used like the template of a form letter to generate "static" web pages in advance or to produce.
                </p>
            </div>
        </div>
    </div>
    <!-- end row -->
    </div>
    </section>

<!-- SECTION(team) -->
<section id="Section-team" class="fullbg color-white">
    <div class="container">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Nosso time</h1>
                <p class="text-center latestitems">Desenvolvedores do sistema.</p>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
    <div class="row animated fadeInUpNow">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://www.wowthemes.net/demo/calypso/img/demo/team1.jpg" alt="">
                <div class="caption">
                    <h4>Ralph P. Peters</h4>
                    <span class="primarycol">- Manager at Company -</span>
                    <p>
                         Praesent id metus ante, ut condimentum magna. Nam bibendum, felis eget.<br>
                    </p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://www.wowthemes.net/demo/calypso/img/demo/team2.jpg" alt="">
                <div class="caption">
                    <h4>Emma M. Coffey</h4>
                    <span class="primarycol">- Lawyer at Construct Inc -</span>
                    <p>
                         Praesent id metus ante, ut condimentum magna. Nam bibendum, felis eget.<br>
                    </p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://www.wowthemes.net/demo/calypso/img/demo/team3.jpg" alt="">
                <div class="caption">
                    <h4>Eugene B. Bedwell</h4>
                    <span class="primarycol">- Owner of Biscaya -</span>
                    <p>
                         Praesent id metus ante, ut condimentum magna. Nam bibendum, felis eget.<br>
                    </p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>